<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>223084538450-jict5f7gd3n6staft207l5v21btraufo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.223084538450-jict5f7gd3n6staft207l5v21btraufo</string>
	<key>API_KEY</key>
	<string>AIzaSyDL3hHVDBCo0cOOBmyxWjZAY9SfwF3ti-U</string>
	<key>GCM_SENDER_ID</key>
	<string>223084538450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.travelChecklist</string>
	<key>PROJECT_ID</key>
	<string>travel-checklist-55f65</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-checklist-55f65.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223084538450:ios:b87e7f721b50a190148d8b</string>
</dict>
</plist>